<section [ngClass]="[styles.flexCenter, styles.paddingY]" class="flex-col">
    <div [ngClass]="styles.flexStart" class="md:flex-row flex-col mb-8 w-full">
        <div class="flex-1 flex flex-col justify-start mr-10">
            <img src="../../../assets/logo.svg" alt="logo" class="w-[266px] h-[72px] object-contain">
            <p [ngClass]="styles.paragraph" class="mt-4 max-w-[310px]">
                A new way to make the payments easy, reliable and secure.
            </p>
        </div>

        <div class="flex-[1.5] w-full flex flex-row justify-between flex-wrap md:mt-0 mt-10">
            <ng-container *ngFor="let item of footerLinks">
                <div class="flex flex-col ss:my-0 my-4 min-w-[150px]">
                    <h4 class="font-poppins font-medium text-[18px] leading-[27px] text-white">
                        {{item.title}}
                    </h4>
                    <ul class="list-none mt-4">
                        <ng-container *ngFor="let link of item.links; last as last">
                            <li class="font-poppins font-normal text-[16px] leading-[24px] text-dimWhite hover:text-secondary cursor-pointer"
                                ngClass="{{last ? 'mb-0': 'mb-4'}}">
                                {{link.name}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="w-full flex justify-between items-center md:flex-row flex-col pt-6 border-t-[1px] border-t-[#3f3e45]">
        <p class="font-poppins font-normal text-center text-[18px] leading-[27px] text-white">
            2023 HooBank. All Rights Reserved
        </p>

        <div class="flex flex-row md:mt-0 mt-6">
            <ng-container *ngFor="let item of socialMedia; last as last">
                <img [src]="item.icon" alt="icon" class="w-[21px] h-[21px] object-contain cursor-pointer"
                    class="{{last ? 'mr-0': 'mr-6'}}">
            </ng-container>
        </div>
    </div>
</section>