<div class="bg-primary w-full overflow-hidden">
  <div [ngClass]="[style.paddingX, style.flexCenter]">
    <div [ngClass]="style.boxWidth">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div [ngClass]="['bg-primary', style.flexStart]">
    <div [ngClass]="[style.boxWidth]">
      <app-hero></app-hero>
    </div>
  </div>

  <div [ngClass]="['bg-primary',style.paddingX, style.flexStart]">
    <div [ngClass]="style.boxWidth">
      <app-stats></app-stats>
      <app-business></app-business>
      <app-billing></app-billing>
      <app-card-deal></app-card-deal>
      <app-testimonials></app-testimonials>
      <app-clients></app-clients>
      <app-cta></app-cta>
      <app-footer></app-footer>
    </div>
  </div>
</div>