<div [ngClass]="styles.flexCenter" class="w-[140px] h-[140px] rounded-full bg-blue-gradient p-[2px] cursor-pointer">
    <div [ngClass]="styles.flexCenter" class="flex-col bg-primary w-[100%] h-[100%] rounded-full">
        <div [ngClass]="styles.flexStart" class="flex-row">
            <p class="font-poppins font-medium text-[18px] leading-[23px] mr-2">
                <span class="text-gradient">Get</span>
            </p>
            <img src="../../../assets/arrow-up.svg" class="w-[23px] h-[23px] object-contain" alt="arrow-up">
        </div>
        <p class="font-poppins font-medium text-[18px] leading-[23px]">
            <span class="text-gradient">Started</span>
        </p>
    </div>
</div>